/* tela-adm.css */

/* Estilos básicos */
body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 90%;
  max-width: 400px;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form-header h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

/* Estilo dos grupos de formulário */
.form-group {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

/* Estilo dos campos de entrada */
.input-field, select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #2b2b2b;
  border: 1px solid #444;
  border-radius: 5px;
  color: #e0e0e0;
  font-size: 16px;
  box-sizing: border-box;
}

.input-field::placeholder, select {
  color: #bbb;
}

/* Estilo do botão de submit */
.submit-button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #3700b3;
}

/* Ajustes de layout */
.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Estilo do select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #2b2b2b;
  border: 1px solid #444;
  border-radius: 5px;
  color: #e0e0e0;
  font-size: 16px;
  cursor: pointer;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23bbb" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

select:focus {
  border-color: #6200ea;
  outline: none;
}
